<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="#">Offcanvas navbar</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="center" href="/auth/google">
                            <img src="/images/btn_google.png" alt="Google+ Sign in Button" title="Google+ Sign in">
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
    <div class="container">
        <nav class="nav nav-underline">
            <a class="nav-link active" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="#">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">27</span>
            </a>
            <a class="nav-link" href="#">Explore</a>
            <a class="nav-link" href="#">Suggestions</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
        </nav>
    </div>
</div>