<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0" href="/">Storybook</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                    <li class="nav-item {{#if active.home}}active{{/if}}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {{#if active.dashboard}}active{{/if}}">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item {{#if active.profile}}active{{/if}}">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="center" href="/auth/google">
                            <img src="/images/btn_google.png" alt="Google+ Sign in Button" title="Google+ Sign in">
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<div class="nav-scroller bg-white shadow-sm">
    <div class="container px-0">
        <nav class="nav nav-underline">
            <a class="nav-link {{#if active.dashboard}}active{{/if}}" href="/dashboard">Dashboard</a>
            <a class="nav-link" href="#">
                Friends
                <span class="badge badge-pill badge-primary align-text-bottom">12</span>
            </a>
            <a class="nav-link" href="#">Explore</a>
            <a class="nav-link" href="#">Suggestions</a>
        </nav>
    </div>
</div>
